{% extends "layout.html" %}

{% block title %}
    FC2 Play
{% endblock %}

{% block content %}

  <div class="container">
  {% for v in video %}
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <video crossorigin id="myVideo" width="640" height="480" controls preload="auto" playsinline src="{{ url_for('static', filename='movies/' + v) }}"></video>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Mac') != -1 && navigator.userAgent.indexOf('Chrome') == -1){
      document.getElementById("myVideo").setAttribute("crossorigin", "true");
    };
  </script>
{% endblock %}

