{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block content %}

    <div class="container  align-self-center" style="height: 100%;">
        <div class="row">

          <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <a href="/manga" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">manga</h5>
                </a>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <a href="/fc2" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">FC2</h5>
                </a>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <a href="/waifu2x" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">waifu2x</h5>
                </a>
            </div>
          </div>

        </div>
    </div>

{% endblock %}

