{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-12" style="padding: 15px;">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <a href="/manga" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">manga</h5>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-12" style="padding: 15px;">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <a href="/fc2" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">FC2</h5>
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-12" style="padding: 15px;">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <a href="/waifu2x" class="card-body text-white" style="text-decoration: none;">
                  <h5 class="card-title text-center">waifu2x</h5>
                </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-4 col-md-12" style="padding: 15px;">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <a href="http://192.168.11.74:9091" class="card-body text-white" style="text-decoration: none;">
                <h5 class="card-title text-center">Transmission</h5>
              </a>
            </div>
          </div>

        </div>
    </div>

{% endblock %}

