{% extends "layout.html" %}

{% block title %}
    waifu2x
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            ファイルをアップロード
        </h1>
        <div class="mb-3">
            <form method = post enctype = multipart/form-data id='waifu2x'>
                    <input class="form-control" type="file" id="formFile" name = file>
                    <button value = Upload class="btn btn-danger mb-3 disabled" id="send" aria-disabled=true>送信</button>
            </form>
        </div>
    </div>
    <script>
        $(function() {
            $('#send').on('click', function() {
                $(this).prop('aria-disabled', true);
                $(this).addClass("disabled");
                $('#waifu2x').submit();
            });
        });

        $(function() {
            $('#formFile').on('change', function() {
                var file = this.files[0];
                if (file != null) {
                    $('#send').prop('aria-disabled', false);
                    $('#send').removeClass("disabled");
                }
            })
        })
    </script>

{% endblock %}




